@import "../styles/variables";

.bump {
  mix-blend-mode: multiply;

  video {
    pointer-events: none;
    user-select: none;
  }

  .bump-static {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 45vw;
    height: 100%;
    transform: translate(61%, -5%);
    mix-blend-mode: screen;

    transition: opacity 0.1s ease;

    @include for-phone {
      width: 90%;
      transform: translate(5%, -5%);
    }

    @include for-large-screens {
      width: 47vw;
      transform: translate(56.5%, -5%);
    }

    @include for-short-screens {
      width: 50.5vw;
      height: 110%;
      transform: translate(49%, -9%);
    }

    @include for-tablet {
      width: 77vw;
      transform: translate(15%, -5%);
    }

    &.show {
      opacity: 1;
    }
  }

  .bump-video {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-37.5vw, -5%);
    width: 175%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.5s ease;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}
