@import "../styles/variables";

.bump {
  mix-blend-mode: multiply;

  video {
    pointer-events: none;
    user-select: none;
  }

  .bump-video,
  .static-video {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-37.5vw, -5%);
    width: 175%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.1s ease;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}
