@import "./variables.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 10vh;
  color: $color-white;
  width: 48vw;

  @include for-phone {
    padding-bottom: 20vh;
    width: 92%;
  }
}
