@import "./variables.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 10vh;
  color: $color-white;

  @include for-phone {
    padding-bottom: 20vh;
    justify-content: center;
    margin-left: -0.8rem;
    max-width: 100%;
  }
}
