@import "./variables.scss";

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $top-bar-height;
  padding: 0.6rem 1.4rem;
  z-index: 1;

  .top-bar-logo {
    height: 100%;

    button {
      all: unset;
      display: flex;
      height: 100%;
      cursor: pointer;

      &:hover,
      &:focus {
        filter: invert(1);
      }
    }

    img {
      height: 100%;
      width: auto;
    }
  }
}
