$top-bar-height: 80px;

$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #dfe1dc;

$cdn-url: "https://mndlss.b-cdn.net";

$screen-size-xxs: 400px;
$screen-size-xs: 500px;
$screen-size-sm: 1100px;
$screen-size-lg: 2000px;

@mixin for-phone {
  @media screen and (max-width: $screen-size-sm) {
    @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: $screen-size-sm) and (min-height: $screen-size-xs) {
    @content;
  }
}

@mixin for-large-screens {
  @media screen and (min-width: $screen-size-lg) and (min-height: $screen-size-sm) {
    @content;
  }
}

@mixin pseudo-bold {
  text-shadow: -0.03ex 0 0 currentColor, 0.03ex 0 0 currentColor;
}
